@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
    height: 100%;
}

.parallax {
    background-image: url('/blob/master/parallax.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transparentDiv {
	background-color: rgba(50, 50, 50, 0.1);
	vertical-align: middle;
	height: 200px;
	font-size: 36px;
	display: table;
	width: 100%;
}

.innerDiv {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
}
